@using DieUnausstehlichen_Web.Helper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/animate.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
</head>
<body>
<div class="sticky">
    <ul class="navbar">
        <a href="@Url.Action("Index", "Home")">
            <li class="navbar-item @(ViewContext.IsOnPage("Index", "Home") ? "navbar-item-current" : "")">Home</li>
        </a>
        <a href="@Url.Action("About", "Home")">
            <li class="navbar-item @(ViewContext.IsOnPage("About", "Home") ? "navbar-item-current" : "")">About</li>
        </a>
        <a href="@Url.Action("Privacy", "Home")">
            <li class="navbar-item @(ViewContext.IsOnPage("Privacy", "Home") ? "navbar-item-current" : "")">Privacy</li>
        </a>
    </ul>
</div>
<div class="content">
    @RenderBody()
</div>
<div id="toTopButton" class="animated faster back-to-top" onclick="scrollToTop()">
    <i class="material-icons back-to-top-arrow">arrow_upward</i>
</div>
</body>
</html>